<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c62c288009.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="templates/activeContributors.css">
    <title>Active Contributors</title>
</head>

<body style="background-color: #F8F0E3;">

    <section>
        <div class="container">
            <!--Toufique-->
            <div class="card">
                <div class="content">
                    <div class="imageBx"><img src="templates/Fav.jpeg"></div>
                    <div class="contentBx">
                        <h3>Toufique Belim<br><br>
                            <span>
                                <ul>
                                    <li>User Interface</li>
                                    <li>Scanning the Document</li>
                                </ul>
                            </span>
                        </h3>
                    </div>
                </div>

                <ul class="sci">
                    <li style="--i:1">
                        <a href="https://www.linkedin.com/in/toufique-belim/"><i class="fab fa-linkedin" id="linked"></i></a>
                    </li>
                    <li style="--i:2">
                        <a href="https://www.youtube.com/channel/UC_UCWIT13EaOriciyHJrDBg"><i class="fab fa-youtube" id="yt"></i></a>
                    </li>
                    <li style="--i:3">
                        <a href="https://github.com/toufique10/"><i class="fab fa-github" id="git"></i></a>
                    </li>
                </ul>
            </div>


            <!--Amal-->
            <div class="card">
                <div class="content">
                    <div class="imageBx"><img src="templates/Amal.jpg"></div>
                    <div class="contentBx">
                        <h3>Amal Pushp<br><br>
                            <span>
                                <ul>
                                    <li>Back End & Input Handling</li>
                                    <li>Project Integration</li>
                                </ul>
                            </span>
                        </h3>
                    </div>
                </div>

                <ul class="sci">
                    <li style="--i:1">
                        <a href="https://www.instagram.com/amal.pushp/"><i class="fab fa-instagram" id="insta"></i></a>
                    </li>
                    <li style="--i:2">
                        <a href="https://www.linkedin.com/in/amal-pushp-488008205/"><i class="fab fa-linkedin" id="linked"></i></a>
                    </li>
                    <li style="--i:3">
                        <a href="https://github.com/Amal0609"><i class="fab fa-github" id="git"></i></a>
                    </li>
                </ul>
            </div>


            <!--Aways-->
            <div class="card">
                <div class="content">
                    <div class="imageBx"><img src="templates/Aways.jpg"></div>
                    <div class="contentBx">
                        <h3>Aways Saudagar<br><br>
                            <span>
                                <ul>
                                    <li>Output in Multiple Formats</li>
                                    <li>Reducing Output Size</li>
                                </ul>
                            </span>
                        </h3>
                    </div>
                </div>

                <ul class="sci">
                    <li style="--i:1">
                        <a href="https://www.instagram.com/aways__8552/"><i class="fab fa-instagram" id="insta"></i></a>
                    </li>
                    <li style="--i:2">
                        <a href="https://www.linkedin.com/in/aways-saudagar-a287701a4"><i class="fab fa-linkedin" id="linked"></i></a>
                    </li>
                    <li style="--i:3">
                        <a href="https://twitter.com/SaudagarAways?t=cQLVOVnziccLtEL0mPxuyQ&s=09"><i class="fab fa-twitter" id="twitter"></i></a>
                    </li>
                </ul>
            </div>


            <!--Shubham-->
            <div class="card">
                <div class="content">
                    <div class="imageBx"><img src="templates/shubham.jpg"></div>
                    <div class="contentBx">
                        <h3>Shubham Singh<br><br>
                            <span>
                                <ul>
                                    <li>Maximize Input</li>
                                    <li>Research Work & Presentation</li>
                                </ul>
                            </span>
                        </h3>
                    </div>
                </div>

                <ul class="sci">
                    <li style="--i:1">
                        <a href="https://www.instagram.com/shubhamkr9199/"><i class="fab fa-instagram" id="insta"></i></a>
                    </li>
                    <li style="--i:2">
                        <a href="https://www.linkedin.com/in/shubham-kumar-9a4096130/"><i class="fab fa-linkedin" id="linked"></i></a>
                    </li>
                    <li style="--i:3">
                        <a href="https://www.facebook.com/people/Shubham-Singh/100008076726054/"><i class="fab fa-facebook" id="facebook"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!--
    <script type="text/javascript" src="vanilla-tilt.js"></script>
        <script>
            VanillaTilt.init(document.querySelectorAll(".card")
            ,{
		        max: 25,
		        speed: 400,
                glare: true,
                "max-glare": 0.5,
	});
        </script>
    -->
    
</body>
</html>