<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/theProject.css">
    <title>The Project</title>
</head>

<body style="background-color: #F8F0E3;">

    <div class="container">
        <div class="card">
            <div class="content">
                <h3>Get Your Documents Scanned: </h3>
                <!--<input type="file" id="real-file" hidden="hidden"/>
                <a type="button" id="upload">Upload</a>
                <input type="file" id="real-file1" hidden="hidden"/>
                <a type="button" id="convert">Convert</a>-->      
            </div>

            <ul>
                <li>The Major Project of Computer Engineering under the guidance of <span style="color: black; font-weight:500;">Expert Professors.</span></li>
                <li>Get your <span style="color: black; font-weight:500;">Images</span> or <span style="color: black; font-weight:500;">Documents</span> scanned with the help of this Web application i.e. ScanMe.</li>
                <li>Use of <span style="color: black; font-weight:500;">Open Computer Vision</span> to get better scanned results.</li>
                <li>Convert your Images or Documents to <span style="color: black; font-weight:500;">JPG, PDF, JPEG, PNG</span> formats.</li>
                <li><span style="color: black; font-weight:500;">Maximize</span> the Input file size.</li>
                <li>Get the output file in <span style="color: black; font-weight:500;">Reduced</span> size.</li>
                <li>Haven't met our Project heroes yet ? Have a look <a href="activeContributors.html">here.</a></li>
            </ul>

        </div>
    </div>

    
</body>
</html>